fastapi
uvicorn[standard]
requests
python-dotenv
joblib==1.4.2
scikit-learn==1.8.0
pandas
numpy==1.26.4
understatapi
pydantic
xgboost==2.1.1
httpx
google-generativeai
beautifulsoup4
lxml
python-multipart
anthropic>=0.25.0

